:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono', Courier, monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
}

.page-header {
    background-color: light-dark(#DBE2EF,#222831);
    padding: 15px;
    margin: 0;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-body {
    background-color: light-dark(#DBE2EF,#222831);
    padding: 20px;
    width: 100%;
}

.page-nav {
    background-color: light-dark(#F9F7F7, #393E46);
    height: 100%;
    display: none;
    align-items: center;
}

.page-nav ul {
    list-style: none;
    padding: 0;
}

.page-nav li {
    background-color: light-dark(#F9F7F7, #393E46);
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.page-nav li a {
    text-decoration: none;
    color: light-dark(black,#EEEEEE);
    word-wrap: break-word;
}

.page-nav li:hover {
    background-color: light-dark(#DBE2EF,#222831);
}

#footer-layout {
    background-color: light-dark(#F9F7F7, #393E46);
    padding: 10px;
}

input[type=submit] {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: blue;
    padding: 10px;
    border: none;
}

input[type=submit]:hover {
    background-color: light-dark(#DBE2EF,#222831);
}

input {
    padding: 10px;
}

.label-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
}

form {
    margin: 10px;
}

#images .container-content .content {
    border: 2px solid light-dark(black,#EEEEEE);
    align-items: center;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: light-dark(#DBE2EF,#222831);
}

img {
    width: 100%;
    border: 2px solid light-dark(black,#EEEEEE);
}

.an-image {
    margin: 0;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .page-nav {display: flex;}
    #images .container-content .content {flex-direction: initial;}
    .page-nav ul {max-width: 100%;}
}

@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .page-body, .page-header, #footer-layout {margin-left: 8.33%}
    .page-nav {
        background-color: light-dark(#F9F7F7, #393E46);
        position: fixed;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
    }
}

[class*="col-"] {
    float: left;
}

.row {
    background-color: light-dark(#F9F7F7, #393E46);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* These are some suggested groupings for your stylesheet... */


/* box sizing */


/* element styling (e.g. standard p, h1, h2, a, etc) */


/* flexible content images code */


/* navigation styles */


/* page header styles*/


/* main layout */




/* styling for the section content */


/* background colours for sections */


/* form styling */
#contact {
    border: 1px solid light-dark(black,#EEEEEE);
    background-color: light-dark(#F9F7F7, #393E46);
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    min-width: 40%;
    min-height: 40%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: light-dark(#DBE2EF,#222831);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.active a {
    color: white!important;
    font-weight: bold;
}

#contact-button {
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgba(62, 57, 214, 1);
}

#contact-button:hover {
    background-color: rgba(62, 57, 214, 0.5);
}

/* footer styling */